{% extends "base.html" %}

{% block extra_css %}
<!-- Link to child-specific CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/rooms.css') }}">
{% endblock %}

{% block main_content %}
<section class="section" id="section-1">
    Living Room:{{room1_temperature}}°C
</section>
<section class="section" id="section-2">
    Bathroom:{{room2_temperature}}°C
</section>
<section class="section" id="section-3">
    Bedroom:{{room3_temperature}}°C
</section>
<section class="section" id="section-4">
    Kitchen:{{room4_temperature}}°C
</section>

<!-- Centered Circle -->
<div class="circle" id="fifth-section">Current:{{current_temperature}}°C</div>
{% endblock %}