{% extends 'base.html' %}

{% block extra_css %}
<!-- Link to child-specific CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block main_content %}

<form method="POST" action="{{ url_for('homepage') }}" novalidate>
<div class="setting_container">
    <div class="setting_item">
        <div class="input_row">
            {{ form.hidden_tag() }}
            {{ form.target_temperature.label }}
            {{ form.target_temperature() }}
            {% for error in form.target_temperature.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <p class="explanation">Enter your target temperature</p>
    </div>
    
    <div class="setting_item">
        <div class="input_row">
            {{ form.hidden_tag() }}
            {{ form.occupation_detect.label }}
            {{ form.occupation_detect() }}
            {% for error in form.occupation_detect.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <p class="explanation">Enable or disable occupancy detection.</p>
    </div>
    
    <div class="setting_item">
        <div class="input_row">
            {{ form.hidden_tag() }}
            {{ form.fire_alarm.label }}
            {{ form.fire_alarm(id="fire_alarm_button") }}
            {% for error in form.fire_alarm.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <p class="explanation">Enable fire alarm notification if temperature exceeds 50°C.</p>
    </div>

    <div class="setting_item">
        <div class="input_row">
            {{ form.hidden_tag() }}
            {{ form.mode.label }}
            {{ form.mode() }}
            {% for error in form.mode.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <p class="explanation">Choose between 2 modes.</p>
    </div>
</div>
    

    {{ form.submit(id="submit_button") }}
</form>

</form>

<script type="text/javascript">
    // Get the fire alarm button element
    let fireAlarmButton = document.getElementById("fire_alarm_button");
    let SubmitButton = document.getElementById("submit_button");

    fireAlarmButton.addEventListener("click", function() {
        if (fireAlarmButton.checked) {
            alert("Fire Alarm as been turned ON.\n Press Submit to Save Changes");
        }
    });
    SubmitButton.addEventListener("click", function(){
        if (!fireAlarmButton.checked){
            alert("Fire Alarm as been turned OFF.")
        }
    })
</script>
{% endblock %}